@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLL BAR */
::-webkit-scrollbar {
  height: 12px;
  width: 16px;
  background: #111;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF0d;
  border: 2px solid #FFFFFF1a;
  border-radius: 9999px;
}

::-webkit-scrollbar-track:hover {
  border: 2px solid #FFFFFF26;
}

::-webkit-scrollbar-thumb {
  height: 12px;
  width: 16px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #FFFFFF33;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFFFFF80;
}